<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M -
        %.-2000msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="com.project" level="INFO" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>